.header {
   @media (min-width: 992px) {
      background: linear-gradient(to right, transparent 37.5%, #181823 37.5%);
   }
}

.navbar-brand, .navbar-toggler {
   padding-top: var(--nav-gutter-y);
   padding-bottom: var(--nav-gutter-y);
}

.navbar-toggler {
   padding-left: 0;
   padding-right: 0;
}

.navbar-toggler-icon {
   background-image: url("./../../img/burger.svg");
}

.nav-link {
   color: var(--text-color-title);
   font-size: 1rem;
   text-align: right;

   &:hover {
      background: var(--nav-link-bg-hover);
      color: inherit;
   }

   &:focus {
      color: inherit;
   }
}

@media(min-width: 992px) {
   .navbar-expand-lg .navbar-nav .nav-link {
      padding: var(--nav-link-gutter-y) var(--nav-link-gutter-x);
      text-align: unset;
   }
}