:root {
   --text-color-primary: #8491A0;
   --text-color-title: #fff;
   --nav-gutter-y: 1.5rem;
   --nav-link-bg-hover: #5221E6;
   --nav-link-gutter-x: 1.5rem;
   --nav-link-gutter-y: 2rem;
   --section-gutter-y: 3rem;
}